# General dependencies
numpy
opencv-python
ultralytics
customtkinter
tkvideoplayer

# PyTorch dependencies with a specific index for CUDA 11.8
--index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio

# Add PyPI as a fallback for any packages not found on the specified index
--extra-index-url https://pypi.org/simple